@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif!important;
  color: #282828!important;
}

* {
  box-sizing: border-box;
}

/* containers */

.vh-100 {
  height: 100vh;
}

.vh-80 {
  height: 80vh;
}

.vh-70 {
  height: 70vh;
}

.vh-65 {
  height: 65vh;
}

.vh-60 {
  height: 60vh;
}

.vh-50 {
  height: 50vh;
}

.vh-40 {
  height: 40vh;
}

.vh-20 {
  height: 20vh;
}

.w-60 {
  width: 60%!important;
}


/* typography */

p,.p {
  font-weight: 300!important;
}

.lead {
  font-weight: 300!important;
}

h1,.h1 {
font-family: 'Inter', sans-serif!important;
font-style: normal;
font-weight: 500!important;
font-size: calc(3.2rem + 1.5vw)!important;
line-height: calc(3.2rem + 1.5vw)!important;
}

h2,.h2 {
  font-family: 'Inter', sans-serif!important;
  font-style: normal;
  font-weight: 500!important;
  font-size: calc(2.5rem + 1.5vw)!important;
  line-height: calc(2.6rem + 1.5vw)!important;
  }

h3,.h3 {
  font-family: 'Inter', sans-serif!important;
  font-style: normal;
  font-weight: 500!important;
  font-size: calc(1.8rem + 1.5vw)!important;
  line-height: calc(2rem + 1.5vw)!important;
  }

  h4,.h4 {
    font-family: 'Inter', sans-serif!important;
    font-style: normal;
    font-weight: 500!important;
    font-size: 1.3rem!important;
    line-height: 1.2!important;
    }

    h5,.h5 {
      font-family: 'Inter', sans-serif!important;
      font-style: normal;
      font-weight: 500!important;
      font-size: 16px!important;
      letter-spacing: 2px;
      }

h6,.h6 {
  font-family: 'Inter', sans-serif!important;
  text-transform: uppercase!important;
  font-style: normal;
  font-weight: 500!important;
  font-size: 14px!important;
  letter-spacing: 2px;
  }


  .bold {
    font-weight: 700!important;
  }


/* buttons */

.btn {
  background-color: transparent!important;
  padding: 8px 20px!important;
  font-size: .7rem!important;
  font-weight: 600!important;
  letter-spacing: .1em!important;
  border-radius: 4px!important;
}

.btn-link {
  color: #369673!important;
  background-color: transparent!important;
  font-size: .7rem!important;
  font-weight: 600!important;
  letter-spacing: .1em!important;
  mix-blend-mode: multiply;
}

.btn-link:hover {
  color: #369673!important;
  background-color: #F5F9F8!important;
}

.btn-link.dark-grey:hover {
  color: #282828!important;
  background-color: #F5F9F8!important;
}


.btn-primary {
  color: #fff!important;
  background-color: #369673!important;
  font-size: .7rem!important;
  font-weight: 600!important;
  letter-spacing: .1em!important;
  border: none!important;
}

.btn-primary:hover {
  background-color: #31916E!important;
}

.btn-secondary {
  color: #369673!important;
  background-color: transparent!important;
  font-size: .7rem!important;
  font-weight: 700!important;
  letter-spacing: .1em!important;
  border: 2px solid #369673!important;
  mix-blend-mode: multiply;

}

.btn-secondary:hover {
  background-color: #F5F9F8!important;

}

.btn-dark {
  background-color: #282828!important;
  border: none!important;
}

.btn-dark:hover {
  background-color: #1e1e1e!important;
  border: none!important;
}

/* colours */

.dark-grey {
  color: #282828!important;
 }

 .green {
  color: #369673!important;
 }

 .bg-trans {
  background-color: transparent;
 }

 .gold {
  color: #FDB427;
 }

  /* borders */

  .border-top-gold {
    border-top: 1px solid #FDB427!important;
  }

  .border-top-green {
    border-top: 1px solid #369673!important;
  }

  .border-grey {
    border: 1px solid #dee2e6;
  }

 /* components */

 .top-nav {
  position: absolute;
 }


 /* images */

 .bg-shape-top {
  background-image: url("/bg-shape-top.svg");
  background-repeat: no-repeat;
  background-size: contain;
 }

 .bg-shape-bottom {
  background-image: url("/bg-shape-bottom.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
 }

 .bg-hero {
  background-image: url("/logo-iso.svg");
  background-repeat: no-repeat;
  background-position: center;
 }


 /* cards */

 .brand-card {
  background-image: url("/bg-card.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
  border: 1px solid #dee2e6;
  height: 100%;
 }

 /* effects */

 .multiply {
  mix-blend-mode: multiply;
 }

 .pntr {
  cursor: pointer!important;
 }

/* arrows */

 .arrow-down:after {
  content: url("/arrow-down.svg");
  position: relative;
  top: 3px;
  margin-left: 6px;
  display: inline-block;
  transform: rotate(0deg);
}

.drop-shadow { 
  filter: drop-shadow(0px 1px 24px rgba(0, 0, 0, 0.25));
}

.border-radius {
  border-radius: 5px;
}


@media (max-width: 576px) {

  h1,.h1 {
    font-size: 3.2rem!important;
    line-height: 3.2rem!important;
    }

 }
