@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif!important;
}

* {
  box-sizing: border-box;
}

/* containers */

.vh-100 {
  height: 100vh;
}

.vh-80 {
  height: 80vh;
}

.vh-70 {
  height: 70vh;
}

.vh-65 {
  height: 65vh;
}

.vh-60 {
  height: 60vh;
}

.vh-40 {
  height: 40vh;
}

.vh-20 {
  height: 20vh;
}

.w-60 {
  width: 60%!important;
}


/* typography */

h1,.h1 {
font-family: 'Inter', sans-serif!important;
font-style: normal;
font-weight: 500!important;
font-size: calc(3rem + 1.5vw)!important;
line-height: calc(3rem + 1.5vw)!important;
}


/* buttons */

.btn {
  background-color: transparent!important;
  padding: 8px 16px!important;
  font-size: .7rem!important;
  font-weight: 600!important;
  letter-spacing: .1em!important;
  border-radius: 4px!important;
}

.btn-link {
  color: #369673!important;
  background-color: transparent!important;
  font-size: .7rem!important;
  font-weight: 600!important;
  letter-spacing: .1em!important;
  mix-blend-mode: multiply;
}

.btn-link:hover {
  color: #369673!important;
  background-color: #F5F9F8!important;

}

.btn-primary {
  color: #fff!important;
  background-color: #369673!important;
  font-size: .7rem!important;
  font-weight: 600!important;
  letter-spacing: .1em!important;
  border: none!important;
}

.btn-secondary {
  color: #369673!important;
  background-color: transparent!important;
  font-size: .7rem!important;
  font-weight: 700!important;
  letter-spacing: .1em!important;
  border: 2px solid #369673!important;
  mix-blend-mode: multiply;

}

.btn-secondary:hover {
  background-color: #F5F9F8!important;

}

/* colours */

.dark-grey {
  color: #282828!important;
 }

 .green {
  color: #369673!important;
 }

 .bg-trans {
  background-color: transparent;
 }


 /* images */

 .bg-shape-top {
  background-image: url("/bg-shape-top.svg")!important;
  background-repeat: no-repeat;
  background-size: contain;
 }

 .bg-hero {
  background-image: url("/logo-iso.svg")!important;
  background-repeat: no-repeat;
  background-position: center;
 }


 /* effects */

 .multiply {
  mix-blend-mode: multiply;
 }

 .pntr {
  cursor: pointer!important;
 }

/* arrows */

 .arrow-down:after {
  content: url("/arrow-down.svg");
  position: relative;
  top: 3px;
  margin-left: 6px;
  display: inline-block;
  transform: rotate(0deg);
}
